.jp-container{
    position: absolute;
    top: 260px;
    left: 442px;
    width: 557px;
    height: 506px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
} 
.jp-form__wrapper{
    padding: 30px; 
}

.jp-form__heading{
    font : normal normal normal 22px/27px Helvetica Neue;
    color: #303F60;
}

.post-btn__warapper{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-btn{
    width: 148px;
    height: 46px;
    background: #43AFFF 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
}

.jp-form__title-label::after,
.jp-form__description-label::after,
.jp-form__location-label::after{
    content: '*';
    color : #FF0000;
} 

.error-text{
    float: right;
    color:#FF0000;
}

.error{
    border: 1px solid #FF333380;
}