.cp-container{
    position: absolute;
    top: 260px;
    left: 442px;
    width: 557px;
    height: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
} 
.cp-form__wrapper{
    padding: 30px; 
}

.cp-form__heading{
    font : normal normal normal 22px/27px Helvetica Neue;
    color: #303F60;
}

.cp-form__info{
    font: normal normal normal 14px/20px Helvetica Neue;
    color: #303F60;
}

.reset-btn__warapper{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn{
    width: 148px;
    height: 46px;
    background: #43AFFF 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
}
.error-text{
    float: right;
    color:#FF0000;
}